.form{
    height: 70%;
    width: 50%;
    margin: 20px;
    margin-left: 26%;
    border-radius: 10px;
    background-color: rgb(112, 118, 120);
    color: aliceblue;
    border: 1px solidgray;
    padding: 20px;
    /* font-size:x-large; */
    
}


.textarea{
    width: 100%;
    border-radius: 10px;
    margin: 5px;
}

.form button{
    height: 40px;
    width: 60%;
    margin-top:10px ;
    margin-left: 20%;
    border-radius: 10px;
    background-color: purple;
    color: aliceblue;
    border: none;
    /* font-size:x-large; */
}

