.form{
    height: 25rem;
    width: 50%;
    
    border-radius: 5px;
    background-color:rgb(23, 1, 47);
    color: aliceblue;
    border: 1px solidgray;
    padding: 20px;
    
    
}


.textarea{
    width: 100%;
    border-radius: 10px;
    margin: 5px;
}

.form button{
    height: 35px;
    width: 40%;
    margin-top:10px ;
    margin-left: 30%;
    border-radius: 5px;
    background-color:rgb(145, 13, 246);
    color: white;
    border: none;
    border: 1px solid rgb(196, 153, 243);
    
}

label{
    width: 100%;

}

.input{
    height: 100%;
    width: 100%;
    
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    
    border: none;
}

