.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container{
    background-color:rgb(23, 1, 47);
    height: 5rem;
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn{
    height: 2rem;
    width: 10rem;
    
    border-radius: 5px;
    background-color: white;
    color: black;
    border: none;
  
   
}

.loading{
    text-align: center;
    font-size: x-large;
    color:orangered;
    
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 
    
}


.list{
    height: auto;
    width: 30rem;
    list-style-type: none;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    
    

}


.listhead{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 2px;
}

.list h1{
    color:rgb(23, 1, 47);
    font-size: large;
     
   
}

.openingtext{
    height: 2rem;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.listbtn{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.list button{
    height: 1.7rem;
    width: 8rem;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 10px;
    background-color:rgb(23, 1, 47);
    color: aliceblue;
    border: none;
    font-size: small;
}