.title{
    font-size: 50px;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
    
    

}

.container{
    margin-left: 15%;
    margin-right: 15%;
    
}

.card-img{
    width: 200px;
    height: 200px;
    margin: 20px;   
    float: left;
   
    
}


.card-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* padding-top: 75px; */
    display: inline-block;
}

p {
    text-align: justify;
    /* font-size: 20px; */
}

