.container{
width: 100%;
height: 100%;

display: flex;
flex-direction: column;
margin-top: 2rem;
justify-content: center;
align-items: center;
}
.container h1{
   font-size: 30px;
   font-style: italic;
}

 .form{
    height: 20rem;
    width: 25rem;
    
    
    border-radius: 5px;
    background-color:rgb(23, 1, 47);
    color: aliceblue;
    border: 1px solidgray;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    
    
}


 .form .input{
    width: 22rem;
    height: 1.8rem;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: none;
    outline-style: none;
}

.form button{
    height: 35px;
    width: 10rem;
    margin-top:15px ;

    border-radius: 5px;
    background-color:rgb(137, 34, 246);

    color: white;
    border: 1px solid rgb(189, 146, 234);;

}

