.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 1, 47);
    height: 3.5rem;
    padding: 2px;
    
    
}

.container .logo{
    color: white;
    padding-left: 30px;
    font-size: larger;
    margin-top: 7px;
    font-weight: bold;
    
}

.header ul {
display: flex;
justify-content: center;
/* justify-content: space-around; */
align-content: center;



}

.header ul li {
    list-style-type: none;
    margin-right: 20px;
    padding: 10px;

}

.logoutbtn{
    background-color: transparent;
    border-style: none;
}

.header ul li a{
    color: white;
    text-decoration: none;
    
}

.header ul li a.active{
   color:  rgb(196, 131, 240);
   border-bottom: 1px solid rgb(197, 126, 244);

}



.btn{
    width: 3.5rem;
    background-color: rgb(171, 66, 241);
    color: white;
    border-radius: 10%;
    border:1px solid white;
    margin-right: 40px;
    margin-top: 10px;
    
}

.badge{
    color: white;
    
    font-size: 15px;
    position: relative;
    top: -42px;
    left: 60%;
    

}

.banner{
    background-color: rgb(83, 80, 88);
    color: white;
    
    text-align: center;
    padding: 15px;
    height: 100%;
    width: 100%;
    
}

.banner h1{
 
    font-size: 120px;
}






